<h1>Adding customers</h1>
    <form #customerform= ngForm (ngSubmit)= "addCustomer(customerform)">

        <div>

            <label>customer name</label>
            <input type="text" name="customername" placeholder="enter your name" ngModel>    
            </div>

            <div>
                <label>Balance</label>
                <input type="number" name="balance" placeholder="enter balance" ngModel>    
            </div>

            <input type="submit" value="Submit">     
</form>
<br>

<div *ngIf="customer!=undefined">

  <h2>submitted  customer data is {{customer.customername}}  
      <br> <br>

    Balance is  {{customer.balance}}  
    <br> <br> 
        Id is  {{customer.id}}
        <br> <br>
        </h2>

</div>